name: Build AltServer

on:
  push:
  workflow_dispatch:


env:
  REGISTRY: ghcr.io

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: armv7
            builder: ghcr.io/nyamisty/altserver_builder_alpine_armv7
          - arch: aarch64
            builder: ghcr.io/nyamisty/altserver_builder_alpine_aarch64
          - arch: amd64
            builder: ghcr.io/nyamisty/altserver_builder_alpine_amd64
          - arch: i386
            builder: ghcr.io/nyamisty/altserver_builder_alpine_i386
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Prepare build
        run: mkdir /tmp/build_output
      - name: Build
        run: |
          image=${{ matrix.builder }}
          docker pull $image
          docker run -v ${PWD}:/workdir -w /workdir $image bash -c 'mkdir build; cd build; make -f ../Makefile -j3'
          cp build/AltServer-* /tmp/build_output; chmod +x /tmp/build_output/*
          sudo rm -rf build
          git clean -fdX
      - name: Upload to github artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.arch }}
          path: /tmp/build_output

  release:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    needs: [build]
    name: "release"
    steps:
    - name: "Create artifact directory"
      run: |
        mkdir -p build_output
    - name: "Download all artifacts"
      uses: actions/download-artifact@v4
      with:
        path: build_output
        pattern: build-*
        merge-multiple: true
    - name: "Rearrange artifacts"
      run: |
        find build_output
        mkdir -p build_release
        cp build_output/* build_release/
        ls build_release
        if [ "$(ls -A build_release)" ]; then exit 0; else exit 1; fi
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: build_release/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
